---
title: #2207 - Fat Fingers - Interior Design
description: Description
layout: custom
permalink: /2207/ff/1-01-spalnya
---
<main class="flex-stack">
    <header class="stack">
        <h1>Спальня</h1>
    </header>

    <section class="project-wrapper">
        <section class="project-plans flex-stack">
            {% include_relative plan1.svg %}
        </section>

        <section class="project-tables">
            <div class="flex-stack">
                <h2>Заголовок</h2>
                <p>Архитектура — это диалог между существующей средой и людьми, которые взаимодействуют с ней. Мы умеем слушать обе стороны.</p>
            </div>
        </section>
    </section>
    <section class="stack">
        <h2>Список покупок</h2>
        <p>Все объекты для нас одинаково важны, второстепенных не бывает. Вне зависимости от того, что мы проектируем, - небольшую беседку или международный аэропорт - принцип подхода не меняется: в любой детали должна быть логика, любое предлагаемое решение должно быть обосновано.</p>
        <div class="items">
            <a href="/project" class="item">
                <img width="1600" height="1600" src="/images/stul.jpg"/>
                <h2 class="link">Какой-то стул Название</h2>
            </a>
            <a href="/project" class="item">
                <img width="1600" height="1600" src="/images/stul.jpg"/>
                <h2 class="link">Какой-то стул Название</h2>
            </a>
            <a href="/project" class="item">
                <img width="1600" height="1600" src="/images/stul.jpg"/>
                <h2 class="link">Какой-то стул Название</h2>
            </a>
            <a href="/project" class="item">
                <img width="1600" height="1600" src="/images/stul.jpg"/>
                <h2 class="link">Какой-то стул Название</h2>
            </a>
            <a href="/project" class="item">
                <img width="1600" height="1600" src="/images/stul.jpg"/>
                <h2 class="link">Какой-то стул Название</h2>
            </a>
            <a href="/project" class="item">
                <img width="1600" height="1600" src="/images/stul.jpg"/>
                <h2 class="link">Какой-то стул Название</h2>
            </a>
        </div>
    </section>
    <section class="stack">
        <h2>Схема какая-то</h2>
        {% include_relative schema.svg %}
    </section>
</main>