@charset "UTF-8";

:root {
    --text-color: #fcfbf9;
    --back-color: #100e11;
    --mid-color: #0000ff;
    --font-weight: 300;
}

img {
    filter: brightness(.9) contrast(1.1) saturate(.9);
}

svg.svg-drawing {
    --lw-1: 0.05%;
    --lw-2: 0.075%;
    --lw-3: 0.13%;
    --lw-4: 0.2%;
    --lw-5: 0.2%;
    --lw-6: 0.25%;
    width: 100%;
    height: auto;
    max-height: 60vh;
    stroke-linecap: square;
    fill: none;
    stroke: var(--text-color);
    --dxf-small-font: 2000%;
    --dxf-big-font: 2500%;
}

svg.svg-drawing .svg-area {
    fill: var(--mid-color);
    transition: opacity .3s ease-in-out;
    cursor: pointer;
    opacity: 0;
}

svg.svg-drawing .svg-area:hover,
svg.svg-drawing .svg-area.area-active {
    opacity: 0.75;
}

ol.menu {
    list-style: auto;
    list-style-position: inside;
}

ol.menu .area-link.area-active {
    text-decoration-color: var(--mid-color);
}

.project-wrapper {
    margin: var(--space-l-xl) 0 0;
    gap: var(--space-2xl-3xl) var(--space-xl);
}

.project-tables {
    flex: 1 30ch;
    /* justify-content: center; */
}

.project-tables>div {
    flex: unset;
}

.items {
    --grid-max-columns: 4;
    --grid-item-min-width: min(150px, 100%);
    --grid-gap: var(--space-s);
    margin-bottom: 0;
}


.items img {
    aspect-ratio: 1;
    object-fit: cover;
}

.item h2 {
    font-size: var(--step-0);
    margin-top: var(--space-2xs);
    text-transform: none;
}

main>section:first-of-type {
    margin-top: var(--space-l-xl);
}

.index-body {
    grid-row: span 2;
    display: grid;
    place-items: center;
    margin-top: 0;
}

.index-body .svg-drawing {
    max-height: 90vh;
}

.index-body .svg-drawing .svg-trigger {
    fill: transparent;
    stroke: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.index-body .svg-drawing .svg-door {
    fill: transparent;
    transition: all .3s ease-in-out;
}

.index-body .svg-drawing .svg-trigger:hover~a .svg-door,
.index-body .svg-drawing a:hover>.svg-door {
    fill: blue;
}

.penis {
    stroke-dashoffset: 1500;
    stroke-dasharray: 1500;
    transition: stroke-dashoffset .5s ease-in;
    opacity: 0.5;
}

.index-body .svg-drawing .penis-trigger:hover~.penis {
    stroke-dashoffset: 0;
}