---
title: 2207 - Fat Fingers - Interior Design
description: Description
layout: custom
permalink: /2207/ff/rooms/


---
<main class="flex-stack">
    <div class="project-wrapper">
        <section class="project-plans flex-stack">
            <h2>1-й этаж</h2>
            {% include_relative plan1.svg %}
        </section>

        <section class="project-tables">
            <div class="flex-stack">
                <h3>Помещения:</h3>
                <ol class="menu">
                    <li><a class="link area-link" data-area="1" href="/2207/ff/1-01-spalnya">Спальня</a></li>
                    <li><a class="link area-link" data-area="2" href="#">Гостиная</a></li>
                    <li><a class="link area-link" data-area="3" href="#">Кухня</a></li>
                    <li><a class="link area-link" data-area="4" href="#">Гостевая спальня</a></li>
                    <li><a class="link area-link" data-area="5" href="#">Мастер санузел</a></li>
                    <li><a class="link area-link" data-area="6" href="#">Комната</a></li>
                    <li><a class="link area-link" data-area="7" href="#">Комната</a></li>
                    <li><a class="link area-link" data-area="8" href="#">Комната</a></li>
                    <li><a class="link area-link" data-area="9" href="#">Комната</a></li>
                </ul>
            </div>
        </section>
        <section class="project-plans flex-stack">
            <h2>2-й этаж</h2>
            {% include_relative plan2.svg %}
        </section>

        <section class="project-tables">
            <div class="flex-stack">
                <h3>Помещения:</h3>
                <ol class="menu" start="10">
                    <li><a class="link area-link" data-area="10" href="#">Комната</a></li>
                    <li><a class="link area-link" data-area="11" href="#">Комната</a></li>
                    <li><a class="link area-link" data-area="12" href="#">Комната</a></li>
                    <li><a class="link area-link" data-area="13" href="#">Комната</a></li>
                    <li><a class="link area-link" data-area="14" href="#">Комната</a></li>
                    <li><a class="link area-link" data-area="15" href="#">Комната</a></li>
                    <li><a class="link area-link" data-area="16" href="#">Комната</a></li>
                    <li><a class="link area-link" data-area="17" href="#">Комната</a></li>
                </ul>
            </div>
        </section>
    </div>
    
</main>