---
title: А510 - Проектирование и строительство частных домов и коттеджей
description: Архитектурное и инженерное проектирование, строительство частных загородных домов и коттеджей в Подмосковье и Новой Москве.
layout: generic
permalink: /
---
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Архитектурное бюро А510",
      "url": "https://a510.ru",
      "logo": "https://a510.ru/icon-512.png"
    }
</script>
<main class="flex-stack">
    <header class="stack">
        <ul class="breadcrumbs">
            <li>Главная</li>
        </ul>
        <h1>Архитектура для профессионалов</h1>
        <p style="font-size: var(--step-1);">Мы помогаем девелоперам зарабатывать больше на каждом этапе работы. Архитектурой и дизайном увеличиваем ценность продукта для покупателя, оптимальными конструкциями снижаем себестоимость строительства, генпланом повышаем прибыль с метра земли.</p>
    </header>
    {% include_relative tm126.min.svg %}

    <section class="project-related">
        <header class="stack">
            <h2>Готовые проекты</h2>
            <p>Вы готовы начать строить дом уже завтра, но все еще не нашли подходящий проект - тут мы придем вам на помощь. Проекты всех домов на этой странице уже готовы, вам остается только выбрать созвучный вашим вкусам и связаться с нами для уточнения некоторых деталей.</p>
        </header>
        <div class="items">
        {%- assign sorted_cat = site.proekty | sort: 'weight' -%}
        {%- assign i = 0 -%}
        {%- for project in sorted_cat -%}
            {%- if project.type != "category" and project.featured -%}
                {%- assign i = i | plus: 1 -%}
                {%- if i > 6 -%}
                    {%- break -%}
                {%- endif -%}
                <a href={{ project.url }} class="item">
                    <div class="image-wrapper">
                        <h4>{{ project.area }} м<sup>2</sup></h4>
                        <img
                            width="1920"
                            height="1078"
                            src="/images{{ project.url }}-1_1920w.jpg"
                            alt="{{ project.project-title }} {{ project.project-name }}-Фото-1"
                            srcset="/images{{ project.url }}-1_1920w.jpg 1920w, /images{{ project.url }}-1_1600w.jpg 1600w, /images{{ project.url }}-1_1200w.jpg 1200w, /images{{ project.url }}-1_800w.jpg 800w, /images{{ project.url }}-1_400w.jpg 400w"
                            sizes="(max-width: 936px) 100vw, (max-width: 1270px) 50vw, (max-width: 1742px) 40vw, 25vw"
                            loading="lazy"
                        />
                    </div>
                    <h2 class="link">{{ project.project-catalog-title }} {{ project.project-name }}</h2>
                    <div class="caption">
                        <p>{{ project.tiny-description }}</p>
                    </div>
                </a>
            {%- endif -%}
        {%- endfor -%}
        </div>
        <div class="flex-stack">
            <a href="/proekty/" class="button alt">Все проекты</a>
        </div>
    </section>
    <section class="two-columns">
        {% include_relative dm105.min.svg %}
        <div class="flex-stack" style="align-items: flex-start;">
            <h2>Архитектура</h2>
            <p>Вы готовы начать строить дом уже завтра, но все еще не нашли подходящий проект - тут мы придем вам на помощь. Проекты всех домов на этой странице уже готовы, вам остается только выбрать созвучный вашим вкусам и связаться с нами для уточнения некоторых деталей.</p>
            <a href="#" class="button alt" style="align-self: center;margin-top: var(--space-s-l);">Услуги и цены</a>
        </div>
    </section>
    <section class="project-related stack">
        <h2>Портфолио</h2>
        <p>Все объекты для нас одинаково важны, второстепенных не бывает. Вне зависимости от того, что мы проектируем, - небольшую беседку или международный аэропорт - принцип подхода не меняется: в любой детали должна быть логика, любое предлагаемое решение должно быть обосновано.</p>
        <div class="items">
        {%- assign sorted_cat = site.portfolio | sort: 'weight' -%}
        {%- assign i = 0 -%}
        {%- for project in sorted_cat -%}
            {%- if project.featured -%}
                {%- assign i = i | plus: 1 -%}
                {%- if i > 6 -%}
                    {%- break -%}
                {%- endif -%}
                <a href={{ project.url }} class="item">
                    <img
                        width="1920"
                        height="1078"
                        src="/images{{ project.url }}-01_1920w.jpg"
                        alt="{{ project.project-title }}-Фото-1"
                        srcset="/images{{ project.url }}-01_1920w.jpg 1920w, /images{{ project.url }}-01_1600w.jpg 1600w, /images{{ project.url }}-01_1200w.jpg 1200w, /images{{ project.url }}-01_800w.jpg 800w, /images{{ project.url }}-01_400w.jpg 400w"
                        sizes="(max-width: 936px) 100vw, (max-width: 1270px) 50vw, (max-width: 1742px) 40vw, 25vw"
                        loading="lazy"
                    />
                    <h2 class="link">{{ project.project-title }}</h2>
                </a>
            {%- endif -%}
        {%- endfor -%}
        </div>
        <div class="flex-stack">
            <a href="/portfolio/" class="button alt">Смотреть портфолио</a>
        </div>
    </section>
</main>

