---
title: Услуги для частных заказчиков
description: Архитектурное и инженерное проектирование, строительство частных загородных домов и коттеджей в Подмосковье и Новой Москве.
layout: generic
permalink: /uslugi/chastnim-klientam

page-title: Услуги частным клиентам
page-short-title: Частным клиентам
page-description: Дом, спроектированный по индивидуальному заказу, как костюм, сшитый в ателье, - всегда останется уникальным и неповторимым. Мы слушаем ваши желания и исполняем их в лучшей форме.
---

<main class="stack">
    <header class="stack">
        {% include breadcrumbs.html %}
        <h1>{{page.page-title}}</h1>
        <p>{{page.page-description}}</p>
    </header>
    <div style="max-width: var(--column-width);">
    {% include_relative tm126.min.svg %}
    </div>
    <h2>Архитектурное проектирование</h2>
    <p>Проектирование частного дома - кропотливая и очень детальная работа. Мы внимательно выслушиваем ваши пожелания и предпочтения, обсжудаем вместе с вами стиль вашего будущего дома, метраж, количество помещений, затем архитектор предлагает вам варианты, которые включают в себя эскиз и визуализацию. После вашего согласия мы делаем рабочий проект для строителей.</p>
    <table>
        <tbody>
            <tr>
                <td>Эскизный проект</td>
                <td>от 2500 р/м<sup>2</sup></td>
            </tr>
            <tr>
                <td>Архитектурный проект</td>
                <td>от 2500 р/м<sup>2</sup></td>
            </tr>
            <tr>
                <td>Рабочий проект</td>
                <td>от 2500 р/м<sup>2</sup></td>
            </tr>
        </tbody>
    </table>
    <h2>Дизайн интерьера</h2>
    <p>Хороший дом отличает соответствие внешнего вида внутренней отделке, поэтому мы предлагаем вам разработку дизайна интерьеров. Мы подготовим вам полноценный проект - от цвета стен до выбора мебели: еще до постройки дома вы уже будете представлять, как он будет выглядеть.</p>
    <table>
        <tbody>
            <tr>
                <td>Рабочие планы монтажа отделки</td>
                <td>от 2500 р/м<sup>2</sup></td>
            </tr>
            <tr>
                <td>3d визуализация</td>
                <td>от 2500 р/м<sup>2</sup></td>
            </tr>
            <tr>
                <td>Развертки, узлы и деталировка</td>
                <td>от 2500 р/м<sup>2</sup></td>
            </tr>
            <tr>
                <td>Подбор мебели и отделки</td>
                <td>от 2500 р/м<sup>2</sup></td>
            </tr>
        </tbody>
    </table>
    <h2>Инженерное проектирование</h2>
    <p>Дом - это сложный организм, но часто мы принимаем как данность привычные нам функции: например, нам просто удобно, чтобы здесь была лампа, но мы не желаем видеть проводов. Для того, чтобы вам не пришлось думать об этом, об этом думают инженеры, которые подготовят для вашего дома проект освещения, водоснабжения и других систем функционирования вашего дома.</p>
    <table>
        <tbody>
            <tr>
                <td>Рабочие планы монтажа отделки</td>
                <td>от 2500 р/м<sup>2</sup></td>
            </tr>
            <tr>
                <td>3d визуализация</td>
                <td>от 2500 р/м<sup>2</sup></td>
            </tr>
            <tr>
                <td>Развертки, узлы и деталировка</td>
                <td>от 2500 р/м<sup>2</sup></td>
            </tr>
            <tr>
                <td>Подбор мебели и отделки</td>
                <td>от 2500 р/м<sup>2</sup></td>
            </tr>
        </tbody>
    </table>
</main>