---
title: Услуги для девелоперов
description: Архитектурное и инженерное проектирование, строительство частных загородных домов и коттеджей в Подмосковье и Новой Москве.
layout: generic
permalink: /uslugi/developeram

page-title: Услуги для девелоперов
page-short-title: Девелоперам
page-description: Дом, спроектированный по индивидуальному заказу, как костюм, сшитый в ателье, - всегда останется уникальным и неповторимым. Мы слушаем ваши желания и исполняем их в лучшей форме.
---

<main class="flex-stack">
    <header class="stack">
        {% include breadcrumbs.html %}
        <h1>{{page.page-title}}</h1>
        <p>{{page.page-description}}</p>
    </header>
    <div style="max-width: var(--column-width);">
    {% include_relative dm105.min.svg %}
    </div>
    <h2>Коттеджные посёлки</h2>
    <p>Наше архитектурное бюро также разработает для вас полный проект работ по строительству коттеджного поселка с нуля: от межевания земли и выбора стилистики до расположения домов и их планировки. После сдачи проекта и выхода на стройплощадку мы ведем авторский надзор за процессом.</p>
    <table>
        <tbody>
            <tr>
                <td>Эскиз застройки территории</td>
                <td>60&nbsp;000&nbsp;р&#8288;/&#8288;Га</td>
            </tr>
            <tr>
                <td>Разработка линейки проектов</td>
                <td>500&nbsp;р/м<sup>2</sup></td>
            </tr>
            <tr>
                <td>3d визуализация посёлка</td>
                <td>40&nbsp;000&nbsp;р/Га</td>
            </tr>
            <tr>
                <td>Проект планировки территории</td>
                <td>60&nbsp;000&nbsp;р/Га</td>
            </tr>
        </tbody>
    </table>
</main>