<aside id="cta" class="stack">
    <h2>Есть вопросы?</h2>
    <p>Задайте их руководителю бюро</p>
    <div class="form-wrapper">
        <form id="form-cta" class="ajax-form flex-stack">
            <input type="text" class="name" name="name" placeholder="Ваше имя*" required="">
            <input type="tel" class="tel" name="tel" placeholder="Номер телефона*" required="">
            <button type="submit">Получить консультацию</button>
        </form>
        <div class="form-loading fhide">
            <h3>Отправка..</h3>
            <p>Очень стараемся побыстрее отправить ваш заказ.</p>
        </div>
        <div class="form-success align-center fhide">
            <h3>Спасибо!</h3>
            <p>Мы отправили вам на почту письмо с подтверждением заказа и свяжемся с вами в самое ближайшее время!</p>
        </div>
        <div class="form-error align-center fhide">
            <h3>Ой!</h3>
            <p>Что-то пошло не так. Попробуйте отправить заказ чуть позже или просто позвоните нам.</p>
        </div>
    </div>

</aside>