{%-assign url_list = page.url | split: '/'-%}
{%-assign category_name = url_list[-2]-%}
{%-assign cats = site.proekty | where: "type", "category"-%}
{%-for item in cats -%}
    {%-assign url_list = item.url | split: '/'-%}
    {%-if category_name == url_list[-1]-%}
        {%-assign cat_tiny_title = item.page-tiny-title-%}
        {%-assign cat_url = item.url-%}
        {%-break-%}
    {%-endif-%}
{%-endfor-%}
<section class="project-related">
    <h2>Похожие проекты</h2>
    <div class="items">
    {%- if page.related -%}
    {%- for rel-project in page.related -%}
        {%- for project in site.proekty -%}
            {%- if project.project-name == rel-project -%}
            <a href={{ project.url }} class="item">
                <div class="image-wrapper">
                    <h4>{{ project.area }} м<sup>2</sup></h4>
                    <img
                        width="1920"
                        height="1078"
                        src="/images{{ project.url }}-1_1920w.jpg"
                        alt="{{ project.project-title }} {{ project.project-name }}-Фото-1"
                        title="{{ project.project-title }} {{ project.project-name }}-Фото-1"
                        srcset="/images{{ project.url }}-1_1920w.jpg 1920w, /images{{ project.url }}-1_1600w.jpg 1600w, /images{{ project.url }}-1_1200w.jpg 1200w, /images{{ project.url }}-1_800w.jpg 800w, /images{{ project.url }}-1_400w.jpg 400w"
                        sizes="(max-width: 936px) 100vw, (max-width: 1270px) 50vw, (max-width: 1742px) 40vw, 25vw"
                        loading="lazy"
                    />
                </div>
                <h2 class="link">{{ project.project-catalog-title }} {{ project.project-name }}</h2>
                <div class="caption">
                    <p>{{ project.tiny-description }}</p>
                </div>
            </a>
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
    {%- else -%}
    {%- assign sorted_cat = site.proekty | sort: 'weight' -%}
    {%- assign i = 0 -%}
    {%- for project in sorted_cat -%}
        {%- if project.type != "category" and project.featured -%}
            {%- assign i = i | plus: 1 -%}
            {%- if i > 3 -%}
                {%- break -%}
            {%- endif -%}
            <a href={{ project.url }} class="item">
                <div class="image-wrapper">
                    <h4>{{ project.area }} м<sup>2</sup></h4>
                    <img
                        width="1920"
                        height="1078"
                        src="/images{{ project.url }}-1_1920w.jpg"
                        alt="{{ project.project-title }} {{ project.project-name }}-Фото-1"
                        title="{{ project.project-title }} {{ project.project-name }}-Фото-1"
                        srcset="/images{{ project.url }}-1_1920w.jpg 1920w, /images{{ project.url }}-1_1600w.jpg 1600w, /images{{ project.url }}-1_1200w.jpg 1200w, /images{{ project.url }}-1_800w.jpg 800w, /images{{ project.url }}-1_400w.jpg 400w"
                        sizes="(max-width: 936px) 100vw, (max-width: 1270px) 50vw, (max-width: 1742px) 40vw, 25vw"
                        loading="lazy"
                    />
                </div>
                <h2 class="link">{{ project.project-catalog-title }} {{ project.project-name }}</h2>
                <div class="caption">
                    <p>{{ project.tiny-description }}</p>
                </div>
            </a>
        {%- endif -%}
    {%- endfor -%}
    {%- endif -%}
    </div>
    <div class="flex-stack">
        <a href={{ cat_url }} class="button">Все {{ cat_tiny_title }}</a>
        <a href="/proekty/" class="button alt">Все проекты</a>
    </div>
</section>