<!DOCTYPE html>
<html lang="ru">
    {% include head.html %}
    <body class="is-loading">
        {% include header.html %}
        {% include nav.html %}
        <main class="flex-stack">
            <header class="stack">
                {% include breadcrumbs.html %}
                <h1>{{page.page-title}}</h1>
                <p>{{page.page-description}}</p>
            </header>
            <div class="items">
                {%- assign sorted_cat = site.proekty | sort: 'weight' -%}
                {%- for project in sorted_cat -%}
                {%- if project.type != "category" and project.url contains page.url -%}
                <a href={{ project.url }} class="item">
                    <img width="1920" height="1080" src="/images/pic169_2.jpg"/>
                    <h2>{{ project.project-catalog-title }} {{ project.project-name }}</h2>
                    <div class="caption">
                        <p>{{ project.tiny-description }}</p>
                        <h4>{{ project.area }} м<sup>2</sup></h4>
                    </div>
                </a>
                {%- endif -%}
                {%- endfor -%}
            </div>
            {{content}}
        </main>
        {% include cta.html %}
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>
