<!DOCTYPE html>
<html lang="ru">
    {% include head.html %}
    <body class="is-loading">
        {% include header.html %}
        {% include nav.html %}
        <main class="flex-stack">
            <header class="stack">
                {% include breadcrumbs.html %}
                <h1>{{page.page-title}}</h1>
                <p>{{page.page-description}}</p>
            </header>
            <div class="items">
                <a href="/project" class="item">
                    <img width="1920" height="1080" src="/images/pic169_2.jpg"/>
                    <h2>Каркасный эконом дуплекс TM-120</h2>
                    <div class="caption">
                        <p>Современное говно для пидоров</p>
                        <h4>120 м<sup>2</sup></h4>
                    </div>
                </a>
                <a href="/project" class="item">
                    <img width="1920" height="1080" src="/images/pic169_2.jpg"/>
                    <h2 class="link">Экономичный таунхаус TD-70/85</h2>
                    <div class="caption">
                        <p>Дуплекс с разными площадями</p>
                        <h4>75/85 м<sup>2</sup></h4>
                    </div>
                </a>
                <a href="/project" class="item">
                    <img width="1920" height="1080" src="/images/pic169_2.jpg"/>
                    <h2>Каркасный эконом дуплекс TM-120</h2>
                    <div class="caption">
                        <p>Современное говно для пидоров</p>
                        <h4>120 м<sup>2</sup></h4>
                    </div>
                </a>
                <a href="/project" class="item">
                    <img width="1920" height="1080" src="/images/pic169_2.jpg"/>
                    <h2>Каркасный эконом дуплекс TM-120</h2>
                    <div class="caption">
                        <p>Современное говно для пидоров</p>
                        <h4>120 м<sup>2</sup></h4>
                    </div>
                </a>
                <a href="/project" class="item">
                    <img width="1920" height="1080" src="/images/pic169_2.jpg"/>
                    <h2>Каркасный эконом дуплекс TM-120</h2>
                    <div class="caption">
                        <p>Современное говно для пидоров</p>
                        <h4>120 м<sup>2</sup></h4>
                    </div>
                </a>
                <a href="/project" class="item">
                    <img width="1920" height="1080" src="/images/pic169_2.jpg"/>
                    <h2>Каркасный эконом дуплекс TM-120</h2>
                    <div class="caption">
                        <p>Современное говно для пидоров</p>
                        <h4>120 м<sup>2</sup></h4>
                    </div>
                </a>
            </div>
            {{content}}
        </main>
        {% include cta.html %}
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>
