<!DOCTYPE html>
<html lang="ru">
    {% include head.html %}
    <body class="is-loading">
        {% include header.html %}
        {% include nav.html %}
        <main>
            <img class="hero fw" width="1920" height="1080" src="/images/pic169_2.jpg" fetchpriority="high"/>
            <header>
                {% include breadcrumbs.html %}
                <h1>{{ page.project-title }}</h1>
            </header>
            <section class="two-columns">
                <div>
                    <p>{{ page.short-description }}</p>
                </div>
                <div>
                    <table>
                        <tbody>
                            {%- for option in page.options -%}
                            <tr>
                                <td>{{ option.name }}</td>
                                <td>{{ option.value }}</td>
                            </tr>
                            {%- endfor -%}
                        </tbody>
                    </table>
                </div>
            </section>
            
            <section class="project-gallery flex-stack">
                <h2>Галерея</h2>
                <img class="fw" width="1920" height="1080" loading="lazy" src="/images/pic169_2.jpg"/>
                <img class="fw" width="1920" height="1080" loading="lazy" src="/images/pic169_2.jpg"/>
            </section>
            {%- if content.size > 4 -%}
            <section class="stack">
                <h2>О проекте</h2>
                {{ content }}
            </section>
            {%- endif -%}
        </main>
        {% include cta.html %}
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>